# cli: data-replicator configs/cross_metastore/uc_metadata_defaults.yaml --target-catalog [catalog_name] --target-schemas [schema1,schema2] --uc-object-types [table_tag,column_tag]
# 1. Create delta share infrastructure in this tool including recipient, shares and shared catalogs with default system generated names.
# 2. Replicate source UC metadata objects to target UC.
# 3. For external tables, use external location mapping specified below

version: "1.0"

replication_group: "uc_metadata"

source_databricks_connect_config:
  name: "azure"
  token:
    secret_scope: "test_kr"
    secret_key: "pat_source"

target_databricks_connect_config:
  name: "aws"
  token:
    secret_scope: "test_kr"
    secret_key: "pat_target"

external_location_mapping:
  "abfss://aaboode@oneenvadls.dfs.core.windows.net/": "s3://one-env-uc-external-location/aaron2"

audit_config:
  audit_table: "data_replication.audit.audit_logging"

backup_config:
  enabled: true
  create_recipient: true
  create_share: true
replication_config:
  enabled: true
  create_target_catalog: true
  create_shared_catalog: true

concurrency:
  max_workers: 5
  timeout_seconds: 1800

retry:
  max_attempts: 2
  retry_delay_seconds: 3
